body {
    background-color: #f0f0f0;
    color: #252323;
}

#content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color:white
}

#headline {
    margin: 0px auto;
    width: fit-content;
    text-align: center;
}

.title {
    background-image: url("images/MISkate Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    margin: 0px auto;
}

#map {
    margin: 0px auto;
    width: fit-content;
}

#collapse-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  button {
    width: 640px;
    height:60px;
  }

  .btn-primary {
    background-color: #252323;
    border-color:#252323;
  }

  #marriottMannyImg {
    width: 650px;
    display: block;
    margin: 0 auto;
  }

  #ramp5Img {
    width: 650px;
    display: block;
    margin: 0 auto;
  }

  #broadLedgeImg {
    width: 650px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }

  #mbcLedgeImg {
    width: 400px;
    display: block;
    margin: 0 auto;
  }

  #markerboardLedgeImg {
    width: 400px;
    display: block;
    margin: 0 auto;
  }

  #ranneyParkImg {
    width: 650px;
    display: block;
    margin: 0 auto;
  }

  #bondParkImg {
    width: 650px;
    display: block;
    margin: 0 auto;
  }

  #battlegroundSkateImg {
    width: 650px;
    display: block;
    margin: 0 auto;
  }

  #spotDesc {
    margin: 0 auto;
    width: 650px;
  }