body {
    background-color: #F7F7F7;
    color: #252323;
}

#headline {
    margin: 0px auto;
    width: fit-content;
    text-align: center;
}

.title {
    background-image: url("images/MISkate Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    margin: 0px auto;
}

#map {
    margin: 0px auto;
    width: fit-content;
}

#collapse-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  button {
    width: 640px;
    height:60px;
  }

  .btn-primary {
    background-color: #252323;
    border-color:#252323;
  }